<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## A Simple `.melt()` and `.pivot_table()` Example

_Authors: Kiefer Katovich (SF)_

---

In [2]:
import pandas as pd
import numpy as np

#### Create some fake data about beer quality and ratings.

In [3]:
beers = {
    'name':['coors','bud','natural light','keystone ice',
            'sierra nevada', 'sam adams', 'new belgium',
            'odouls',
            'pbr','stella','chimay','magnolia','21amendment'],
    'class':['crap','crap','crap','crap',
             'mid','mid','mid',
             'notabeer',
             'pretentious','pretentious','pretentious','pretentious','pretentious']
}
beers['price'] = np.concatenate([np.array([1.5, 1.7, 1.2, 1.2]),
                                np.array([2., 1.9, 2.1]),
                                np.array([3.]),
                                np.array([0.5,3.5, 10., 15.,2.])])
beers['rating'] = np.random.normal(5, 2, size=13)

for k, v in beers.items():
    print k, len(v)
beers = pd.DataFrame(beers)
beers

rating 13
price 13
name 13
class 13

          class           name  price    rating
0          crap          coors    1.5  4.391719
1          crap            bud    1.7  6.751636
2          crap  natural light    1.2  5.131570
3          crap   keystone ice    1.2  2.482554
4           mid  sierra nevada    2.0  5.376381
5           mid      sam adams    1.9  5.350402
6           mid    new belgium    2.1  5.040180
7      notabeer         odouls    3.0  3.634041
8   pretentious            pbr    0.5  3.309445
9   pretentious         stella    3.5  6.189212
10  pretentious         chimay   10.0  5.705963
11  pretentious       magnolia   15.0  8.368551
12  pretentious    21amendment    2.0  7.972300

#### Melt the beer data into long format using the name of the beer as the ID.

In [4]:
beers_long = pd.melt(beers, id_vars=['name'])
beers_long.sort_values('name', axis=0)

             name variable        value
38    21amendment   rating       7.9723
25    21amendment    price            2
12    21amendment    class  pretentious
1             bud    class         crap
27            bud   rating      6.75164
14            bud    price          1.7
36         chimay   rating      5.70596
23         chimay    price           10
10         chimay    class  pretentious
26          coors   rating      4.39172
13          coors    price          1.5
0           coors    class         crap
16   keystone ice    price          1.2
3    keystone ice    class         crap
29   keystone ice   rating      2.48255
37       magnolia   rating      8.36855
24       magnolia    price           15
11       magnolia    class  pretentious
28  natural light   rating      5.13157
15  natural light    price          1.2
2   natural light    class         crap
19    new belgium    price          2.1
6     new belgium    class          mid
32    new belgium   rating      5.04018
7          odouls    class     notabeer
20         odouls    price            3
33         odouls   rating      3.63404
21            pbr    price          0.5
8             pbr    class  pretentious
34            pbr   rating      3.30945
31      sam adams   rating       5.3504
5       sam adams    class          mid
18      sam adams    price          1.9
4   sierra nevada    class          mid
17  sierra nevada    price            2
30  sierra nevada   rating      5.37638
22         stella    price          3.5
35         stella   rating      6.18921
9          stella    class  pretentious

#### Use `.pivot_table()` on the original beer DataFrame to summarize the mean and standard deviation for rating and price by class.

In [ ]:
beer_class_summary = pd.pivot_table(beers, index='class', values=['rating','price'],
                                   aggfunc=[np.mean, np.std])

In [ ]:
beer_class_summary

#### Go from long format back to wide format using `.pivot_table()` and a custom aggregate function.

In [ ]:
beers_long.head(3)

In [ ]:
def first_item(series):
    item = series.iloc[0]
    return item

new_beers_wide = pd.pivot_table(beers_long, index='name', values='value',
                                columns=['variable'], aggfunc=first_item)
new_beers_wide.reset_index()